.App {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.alphabets {
  background-color: white;
  border: 1vh solid black;
  font-family: BioRhyme, serif;
  margin: 1vh;
  cursor: pointer;
  font-size: 4vh;
}

.square {
  margin: auto;
  padding: 2vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-width: 1vh;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  font-size: 5vh;
}

.container-alphabets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 4vh;
}

.container-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 4vh;
}
